@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Music App</h1>
</div>
<a asp-action="Index" asp-controller="Albums" class="btn btn-lg btn-info">Go to the album </a>